  <%= render 'banner', cocktail: @cocktail %>

<div class="container">
  <div class="content" style="text-align: center;">
  <h1>Cocktails</h1>

  <% @cocktails.each do |cocktail| %>

  <img src="<%= cl_image_path cocktail.photo %>" alt="" style="border-radius: 15px;">
  <br>
<!--     <%= link_to cocktail.name, cocktail_path(cocktail) %>
    <%= link_to edit_cocktail_path(cocktail), class: "icon" do %>
      <i class="fas fa-edit"></i>
  <% end %> -->


<!--   <%= link_to cocktail_path(cocktail),
    method: :delete,
    data: {confirm: "Are you sure?"}, class: "icon" do %>
    <i class="fas fa-trash-alt"></i>
  <% end %> -->
  <br>
  <br>
  <% end %>




  <hr>
  <br>
  </div>
<!--   <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn add"%> -->
</div>

  <%= render 'footer', cocktail: @cocktail %>
