  <%= render 'components/navbar'%>

<div class="container">
  <br>
    <%= link_to root_path do %>
    Go back to menu<i class="fas fa-undo-alt"></i>
  <% end %>
  <%= render 'card_for_cocktail', cocktail: @cocktail %>

  <br>
<%= link_to "add dose", new_cocktail_dose_path(params[:id]) %>


</div>

<br>
  <%= render 'footer', cocktail: @cocktail %>
