<%= simple_form_for [@cocktail, @dose] do |f| %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
    <%= f.association :ingredient %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>

